# Assignment #1

In [4]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [5]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women (sex feature) are represented in this dataset?

In [6]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### 2. What is the average age (age feature) of women?

In [16]:
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

### 3. What is the percentage of German citizens (native-country feature)?

In [31]:
(data["native-country"] == "Germany").sum()/data.shape[0]

0.004207487485028101

### 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [43]:
data.groupby(["salary"])["age"].agg([np.mean, np.std]).round(1)

        mean   std
salary
<=50K   36.8  14.0
>50K    44.2  10.5

### 6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [51]:
data[data["salary"] == ">50K"]["education"].unique()
# Nop

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

### 7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [86]:
columns_to_show = ["race", "sex"]

data.groupby(columns_to_show)["age"].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

### 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [218]:
print("Married men")
data[(data["sex"] == "Male") & 
    (data["marital-status"].str.startswith("Married"))]["salary"].value_counts(normalize=True).round(1)

Married men

<=50K    0.6
>50K     0.4
Name: salary, dtype: float64

In [219]:
print("Single men")
data[(data["sex"] == "Male") & 
    (~data["marital-status"].str.startswith("Married"))]["salary"].value_counts(normalize=True).round(1)

Single men

<=50K    0.9
>50K     0.1
Name: salary, dtype: float64

### 9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [163]:
max_hours = data["hours-per-week"].max()
print(f"max hours per week: {max_hours}")

max hours per week: 99

In [178]:
count = (data["hours-per-week"] == max_hours).sum()
print(f"Number of people working 99 hours a week: {count}")

Number of people working 99 hours a week: 85

In [182]:
percentile = (((data["hours-per-week"] == max_hours) & (data["salary"] == ">50K")).sum()/count * 100).round(1)
print(f"{percentile}% of the people who work 99 hours a week earn >50K")

29.4% of the people who work 99 hours a week earn >50K

### 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [214]:
pd.crosstab(data["salary"], data["native-country"], values=data["hours-per-week"], aggfunc=np.mean).T.round(1)

salary                      <=50K  >50K
native-country
?                            40.2  45.5
Cambodia                     41.4  40.0
Canada                       37.9  45.6
China                        37.4  38.9
Columbia                     38.7  50.0
Cuba                         38.0  42.4
Dominican-Republic           42.3  47.0
Ecuador                      38.0  48.8
El-Salvador                  36.0  45.0
England                      40.5  44.5
France                       41.1  50.8
Germany                      39.1  45.0
Greece                       41.8  50.6
Guatemala                    39.4  36.7
Haiti                        36.3  42.8
Holand-Netherlands           40.0   NaN
Honduras                     34.3  60.0
Hong                         39.1  45.0
Hungary                      31.3  50.0
India                        38.2  46.5
Iran                         41.4  47.5
Ireland                      40.9  48.0
Italy                        39.6  45.4
Jamaica                      38.2  41.1
Japan                        41.0  48.0
Laos                         40.4  40.0
Mexico                       40.0  46.6
Nicaragua                    36.1  37.5
Outlying-US(Guam-USVI-etc)   41.9   NaN
Peru                         35.1  40.0
Philippines                  38.1  43.0
Poland                       38.2  39.0
Portugal                     41.9  41.5
Puerto-Rico                  38.5  39.4
Scotland                     39.4  46.7
South                        40.2  51.4
Taiwan                       33.8  46.8
Thailand                     42.9  58.3
Trinadad&Tobago              37.1  40.0
United-States                38.8  45.5
Vietnam                      37.2  39.2
Yugoslavia                   41.6  49.5